html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: lato;
    font-weight: 400;
    line-height: 1.8em;
    color: #2e2d2d;
}

nav{
    height: 50px;
    width: 100%;
    background-color: black;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    size: 40px;
    
}

.pimg1{
    background-image: url("https://cdn.pixabay.com/photo/2023/01/23/17/28/tree-7739243_1280.jpg");
    min-height: 550px;

}
.pimg1,.pimg2,.pimg3,.pimg4{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg2{
    background-image: url("https://cdn.pixabay.com/photo/2023/11/05/21/04/alps-8368328_1280.jpg");
    min-height: 550px;

}

.pimg3{
    background-image: url("https://cdn.pixabay.com/photo/2023/02/01/10/37/sunset-7760143_1280.jpg");
    min-height: 550px;

}
.pimg4{
    background-image: url("https://cdn.pixabay.com/photo/2021/10/18/19/04/mountains-6721870_1280.jpg");
    min-height: 550px;

}

.ptext{
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color: #2e2d2d;
    font-size:27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.textbg{
    /* background: black; */
    color: hwb(0 100% 0%);
    padding: 20px;

}

.section{
    padding: 50px 80px;
    text-align: center;
}

.section-light{
    background-color: aliceblue;
    color: rgb(86, 83, 83);
}

.section-dark{
    background-color: hsl(210, 3%, 55%);
    color: #ffffff;
}

